body {
  background: linear-gradient(to bottom right, #3bc529, #609973, #114221, #1a3a17);
  /* background-color: #355c3b!important; */
  height: 100%;
  margin:0;
  padding:0;
  display: flex;
}


.titulo-nav-bar{
  color: #88d195;
  text-decoration: none;
  padding: 8px 8px 8px 20px;
  font-size: 20px;
  font-family: 'Montserrat';
}

.favoritos{
  color: #88d195;
  text-decoration: none;
  padding: 13px 8px 8px 20px;
  font-size: 15px;
  font-family: 'Montserrat';
}

.imagen{
  height: auto;
  margin: 5px 5px 0px 5px;
  width: 250px !important;
  align-self: flex-end;
}
.lista-imagenes{
  display: flex;
  margin: 30px 30px 30px 30px;
  flex-wrap: wrap;
  max-width: 1290px;
  align-items: baseline;
  justify-content: center;
}

.contenedor{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  
}
.imagen-grande{
  width: 100%;
  height: auto;
  opacity: 0.75;
}

.titulo{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90px;
  color: #98af9c;
  font-family: 'Montserrat';
  text-shadow: 2px 2px 3px #000000;
  
}

.nav-bar{
  background-color: #313131;
  display: flex;
  flex-wrap: wrap;
}

.buscador{
  position: absolute;
  top: 57% ;
  left: 50% ;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: transparent !important;
  /* box-shadow: 0px 0px 6px 2px #000000; */
}

.paginado{
  align-self: center;
}
.paginado button{
  margin: 0px 5px 15px 5px;
}

.subtitulo{
  text-align: left;
  padding: 25px 0px 0px 40px ;
  font-family: 'Abel';
  color: rgb(43, 42, 42);
}
.botones{
  margin: 5px;
  height: auto;
  width: 25px;


}
.tarjeta{
  border: solid 1px rgb(42, 100, 30);
  display: grid;
  border-radius: 4px;
  background-color: rgb(175, 204, 175);
  margin: 5px;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
}
.footer a{
  padding: 10px 10px 10px 10px;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: white;

}
.footer a:hover{
  background-color: #343a40;
}

/* Media Query para ajustar el tamaño del título en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .titulo {
    font-size: 60px;
    top: 60% ;
    left: 50% ;
  }
  .buscador{
    width: 500px;
    top: 80% ;
    left: 50% ;
  }
}

/* Otras Media Queries para ajustar el tamaño del título en diferentes tamaños de pantalla */
@media screen and (max-width: 480px) {
  .titulo {
    font-size: 40px;
    top: 55% ;
    left: 50% ;
  }
  .buscador{
    width: 300px;
    top: 80% ;
    left: 50% ;
  }
}

@media screen and (max-width: 320px) {
  .titulo {
    font-size: 20px;
    top: 20% ;
    left: 50% ;
  }
  .buscador{
    width: 100px;
    top: 80% ;
    left: 50% ;
  }
}